body{
    font-family: monospace;
    overflow-x: hidden;
    font-synthesis: 15px;
}
a{
    text-decoration: none;
}
.container{
    width: 1200px;
    margin: auto;
    max-width: 90%;
    transition: transform 1s;
}

.brand-name{
    margin-left: -30px;
    color: black;
    font-weight: 790;
    font-size: 2.0rem;
    line-height: 1;
    font-family: 'Lato', sans-serif;
  }

.heading{
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
}

header img{
    width: 50px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .iconCart{
    position: relative;
    z-index: 1;
}
header .totalQuantity{
    position: absolute;
    top: -10px;
    right: 17px;
    font-size: large;
    background-color: black;
    width: 30px;
    height: 30px;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: translateX(20px);
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-left: -30px;
}


.listProduct .item img{
    width: 400px;
    height: 330px;
    object-fit: contain;
    border: 1px solid black;
}
.listProduct .item{
    position: relative;
}
.listProduct .item h2{
    font-weight: 700;
    font-size: x-large;
    font-family: 'Lato', sans-serif;
}
.listProduct .item .price{
    font-size: x-large;
    margin-bottom: 40px;
    font-family: 'Lato', sans-serif;
}

.listProduct .item button{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color : black;
    color: #fff;
    width: 50%;
    border: none;
    padding: 20px 30px;
    box-shadow: 0 10px 50px #000;
    cursor: pointer;
    transform: translateX(-50%) translateY(100px);
    opacity: 0;
}
.listProduct .item:hover button{
    transition:  0.5s;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}
.cart{
    color: black;
    position: fixed;
    width: 400px;
    max-width: 80vw;
    height: 100vh;
    background-color: white;
    top: 0px;
    right: -100%;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    gap: 20px;
    transition: right 1s;
    border: 2px solid black;
    z-index: 1000;
}

.cart .buttons .checkout{
    background-color: grey;
    color: white;
}
.cart h2{
    color: black;
    font-size: 35px;
    padding: 20px;
    height: 30px;
    margin: 0;
    text-align: center;
}


.cart .listCart .item{
    display: grid;
    grid-template-columns: 50px 1fr 70px;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    
}
.cart .listCart img{
    width: 100%;
    height: 80px;
    object-fit: contain;
    border-radius: 10px;
}
.cart .listCart .item .name{
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}
.cart .listCart .item .quantity{
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
.cart .listCart .item .quantity span{
    display: block;
    width: 50px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.cart .listCart{
    padding: 20px;
    margin-bottom: 40px;
    overflow: auto;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.cart .listCart::-webkit-scrollbar{
    width: 0;
}

.cart .buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}
.cart .buttons div{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    color: white;
}
.cart .buttons a{
    color: #fff;
    text-decoration: none;
}
.checkoutLayout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 20px;
    font-family: 'Lato', sans-serif;
}
.checkoutLayout .right{
    background-color: #535965;
    border-radius: 20px;
    padding: 40px;
    color: #fff;
}
.checkoutLayout .right .form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}
.checkoutLayout .form h1,
.checkoutLayout .form .group:nth-child(-n+3){
    grid-column-start: 1;
    grid-column-end: 3;
}
.checkoutLayout .form input, 
.checkoutLayout .form select
{
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 10px;
    border:none;
    background-color: white;
    color: #fff;
}
.checkoutLayout .right .return .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.checkoutLayout .right .return .row div:nth-child(2){
    font-weight: bold;
    font-size: x-large;
}
.buttonCheckout{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: black;
    margin-top: 20px;
    font-weight: bold;
    color: #fff;


}
.returnCart h1{
    border-top: 1px solid #eee;  
    padding: 20px 0;
}
.returnCart .list .item img{
    height: 80px;
}
.returnCart .list .item{
    display: grid;
    grid-template-columns: 145px 1fr  50px 80px;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    padding: 0 10px;
    box-shadow: 0 10px 20px #5555;
    border-radius: 20px;
    height: 100px;
}
.returnCart .list .item .name,
.returnCart .list .item .returnPrice{
    font-size: large;
    font-weight: bold;
}
.footer {
    position: absolute;
    bottom: -230%;
    left: 50%;
    height: 410px;
    transform: translate(-50%, -50%);
    max-width: 1580px;
    width: 100%;
    background: black;
    border-radius: 6px;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(circle at center center, black, black), repeating-radial-gradient(circle at center center, black,black, 10px, transparent 20px, transparent 10px);
    background-blend-mode: multiply;
    font-family:'Lato', sans-serif ;
  }
  
  .footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 60px;
  }
  .footer-row .footer-col h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 40px;
  }
  .footer-col .links {
    margin-top: 20px;
  }
  .footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
  }
  .footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
  }
  .footer-col .links li a:hover {
    color: #fff;
  }
  .footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
  }
  .footer-col form {
    display: flex;
    gap: 5px;
  }
  .footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6 ;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
  }
  .footer-col input::placeholder {
    color: #ccc;
  }
   .footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
  }
  .footer-col form button:hover {
    background: #cecccc;
  }
  .footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
  }
  .footer-col .icons i {
    color: #afb6c7;
  }
  .footer-col .icons i:hover  {
    color: #fff;
  }
   