@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap");

* {
	box-sizing: border-box;
}

body {
	background: #000009;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Poppins", sans-serif;
	min-height: 100vh;
}

.container {
	background-color: #fff;
	border: 3px solid darkblue;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 60px;
	text-align: center;
	width: 600px;
	max-width: 100%;
}

.container p {
	color: darkblue;
	letter-spacing: 0.4px;
}

.container form {
	width: 100%;
}

.container .input-area {
	position: relative;
	margin: 10px 0;
	height: 44px;
	width: 100%;
}

.container .h-80 {
	height: 80px;
}

.container input, .container textarea {
  position: absolute;
	display: block;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	padding: 12px;
	height: 100%;
	width: 100%;
  border: 1px solid #999;
  border-radius: 4px;
  outline: none;
  resize: none;
}

.container .sendbtn {
  display: block;
  width: 100%;
	background: darkblue;
	color: #fff;
	font-size: 18px;
	padding: 11px;
  border: none;
	border-radius: 4px;
  cursor: pointer;
}

.container .sendbtn:hover {
  background-color: blue;
}

@media screen and (max-width: 600px) {
	.container {
		padding: 20px 30px;
	}
}

.social-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
  z-index: 10;
}

.social-container.visible {
	transform: translateX(-10px);
}

.custom-social-container {
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(248, 4, 77, 0.6);
	border: 5px solid darkblue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Poppins", sans-serif;
	position: relative;
	height: 169px;
	width: 370px;
	max-width: calc(100% - 10px);
}

.custom-social-container button.cross-btn {
	border: 0;
	color: darkblue;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.custom-social-container p {
	background-color: darkblue;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 28px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 215px;
}

.custom-social-container ul {
	display: flex;
	list-style-type: none;
	padding: 0;
  margin-top: 58px;
}

.custom-social-container ul li {
	margin: 0 10px;
}

.custom-social-container ul li a {
	border: 1px solid #999;
	border-radius: 50%;
	color: #660033;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.custom-social-container ul li a:hover {
	border-color: #ffd791;
	box-shadow: 0 9px 12px -9px #ffd791;
}

.connect-btn {
	border-radius: 26.5px;
	background-color: darkblue;
	border: 1px solid darkblue;
	box-shadow: 0 16px 22px -17px darkblue;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.connect-btn:hover {
	background-color: blue;
}

@media screen and (max-width: 480px) {

	.social-container.visible {
		transform: translateX(0px);
	}

	.connect-btn {
		right: 10px;
	}
}